<div class="container">
    <h1>User Profile</h1>
    <div class="flex-container">
        <div>
            <img style="height: 300px;" src="/assets/userprofile.jpg" alt="user"/>
        </div>
        <div class="user-details">
            <p>Name: </p><span>{{ userData.userName}}</span>
            <p>Email Id: </p><span>{{ userData.emailId}}</span>
            <p>Contact Number: </p><span>{{ userData.contactNo}}</span>
            <p>Height: </p><span>{{ userData.height}}</span>
            <p>Weight: </p><span>{{ userData.weight}}</span>
            <p>Qualification: </p><span>{{ userData.education}}</span>
            <p>Address: </p><span>{{ userData.address}}</span>
        </div>
    </div>
</div>